SimplestCalculator/obj/project.assets.json
SimplestCalculator/obj/SimplestCalculator.csproj.nuget.g.targets
SimplestCalculator/obj/SimplestCalculator.csproj.nuget.g.props
SimplestCalculator/obj/SimplestCalculator.csproj.nuget.cache
SimplestCalculator/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SimplestCalculator/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SimplestCalculator/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SimplestCalculator/obj/Debug/netcoreapp2.1/SimplestCalculator.pdb
SimplestCalculator/obj/Debug/netcoreapp2.1/SimplestCalculator.dll
SimplestCalculator/obj/Debug/netcoreapp2.1/SimplestCalculator.csprojAssemblyReference.cache
SimplestCalculator/obj/Debug/netcoreapp2.1/SimplestCalculator.csproj.FileListAbsolute.txt
SimplestCalculator/obj/Debug/netcoreapp2.1/SimplestCalculator.csproj.CoreCompileInputs.cache
SimplestCalculator/obj/Debug/netcoreapp2.1/SimplestCalculator.assets.cache
SimplestCalculator/obj/Debug/netcoreapp2.1/SimplestCalculator.AssemblyInfoInputs.cache
SimplestCalculator/obj/Debug/netcoreapp2.1/SimplestCalculator.AssemblyInfo.cs
SimplestCalculator/bin/Debug/netcoreapp2.1/SimplestCalculator.runtimeconfig.json
SimplestCalculator/bin/Debug/netcoreapp2.1/SimplestCalculator.runtimeconfig.dev.json
SimplestCalculator/bin/Debug/netcoreapp2.1/SimplestCalculator.pdb
SimplestCalculator/bin/Debug/netcoreapp2.1/SimplestCalculator.dll
SimplestCalculator/bin/Debug/netcoreapp2.1/SimplestCalculator.deps.json
SimplestCalculator/bin/Debug/netcoreapp2.1/Log.txt
SimplestCalculator.UnitTests/obj/project.assets.json
SimplestCalculator.UnitTests/obj/SimplestCalculator.UnitTests.csproj.nuget.g.targets
SimplestCalculator.UnitTests/obj/SimplestCalculator.UnitTests.csproj.nuget.g.props
SimplestCalculator.UnitTests/obj/SimplestCalculator.UnitTests.csproj.nuget.cache
SimplestCalculator.UnitTests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SimplestCalculator.UnitTests/obj/Debug/netcoreapp2.1/SimplestCalculator.UnitTests.dll
SimplestCalculator.UnitTests/obj/Debug/netcoreapp2.1/SimplestCalculator.UnitTests.csprojAssemblyReference.cache
SimplestCalculator.UnitTests/obj/Debug/netcoreapp2.1/SimplestCalculator.UnitTests.csproj.FileListAbsolute.txt
SimplestCalculator.UnitTests/obj/Debug/netcoreapp2.1/SimplestCalculator.UnitTests.csproj.CoreCompileInputs.cache
SimplestCalculator.UnitTests/bin/Debug/netcoreapp2.1/nunit_random_seed.tmp
SimplestCalculator.UnitTests/bin/Debug/netcoreapp2.1/nunit.engine.netstandard.dll
SimplestCalculator.UnitTests/bin/Debug/netcoreapp2.1/NUnit3.TestAdapter.pdb
SimplestCalculator.UnitTests/bin/Debug/netcoreapp2.1/NUnit3.TestAdapter.dll
SimplestCalculator.UnitTests/bin/Debug/netcoreapp2.1/Mono.Cecil.dll
SimplestCalculator.UnitTests/bin/Debug/netcoreapp2.1/SimplestCalculator.UnitTests.runtimeconfig.json
SimplestCalculator.UnitTests/bin/Debug/netcoreapp2.1/SimplestCalculator.UnitTests.runtimeconfig.dev.json
SimplestCalculator.UnitTests/bin/Debug/netcoreapp2.1/SimplestCalculator.UnitTests.pdb
SimplestCalculator.UnitTests/bin/Debug/netcoreapp2.1/SimplestCalculator.UnitTests.dll
SimplestCalculator.UnitTests/obj/Debug/netcoreapp2.1/SimplestCalculator.UnitTests.csproj.CopyComplete
SimplestCalculator.UnitTests/obj/Debug/netcoreapp2.1/SimplestCalculator.UnitTests.assets.cache
SimplestCalculator.UnitTests/obj/Debug/netcoreapp2.1/SimplestCalculator.UnitTests.Program.cs
SimplestCalculator.UnitTests/obj/Debug/netcoreapp2.1/SimplestCalculator.UnitTests.AssemblyInfoInputs.cache
SimplestCalculator.UnitTests/bin/Debug/netcoreapp2.1/SimplestCalculator.pdb
SimplestCalculator.UnitTests/bin/Debug/netcoreapp2.1/SimplestCalculator.dll
SimplestCalculator.UnitTests/bin/Debug/netcoreapp2.1/SimplestCalculator.UnitTests.deps.json
SimplestCalculator.UnitTests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SimplestCalculator.UnitTests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SimplestCalculator.UnitTests/obj/Debug/netcoreapp2.1/SimplestCalculator.UnitTests.AssemblyInfo.cs
SimplestCalculator.UnitTests/obj/Debug/netcoreapp2.1/SimplestCalculator.UnitTests.pdb
CalculatorTests/obj/project.assets.json
CalculatorTests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CalculatorTests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CalculatorTests/obj/Debug/netcoreapp2.1/CalculatorTests.csprojAssemblyReference.cache
CalculatorTests/obj/Debug/netcoreapp2.1/CalculatorTests.csproj.CoreCompileInputs.cache
CalculatorTests/obj/Debug/netcoreapp2.1/CalculatorTests.assets.cache
CalculatorTests/obj/Debug/netcoreapp2.1/CalculatorTests.Program.cs
CalculatorTests/obj/Debug/netcoreapp2.1/CalculatorTests.AssemblyInfoInputs.cache
CalculatorTests/obj/CalculatorTests.csproj.nuget.g.targets
CalculatorTests/obj/CalculatorTests.csproj.nuget.g.props
CalculatorTests/obj/CalculatorTests.csproj.nuget.cache
CalculatorTests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CalculatorTests/obj/Debug/netcoreapp2.1/CalculatorTests.AssemblyInfo.cs
.vs/SimplestCalculator/v15/Server/sqlite3/storage.ide-shm
.vs/SimplestCalculator/v15/Server/sqlite3/storage.ide
.vs/SimplestCalculator/v15/Server/sqlite3/db.lock
.vs/SimplestCalculator/v15/.suo
.vs/SimplestCalculator/DesignTimeBuild/.dtbcache
.vs/SimplestCalculator/v15/Server/sqlite3/storage.ide-wal
